.addEmployee{
    border: 1px solid #eee;
    padding: 20px;
    height: 100%;
    .btn-success{
        min-width: 120px;
    }
}

.successMessage{
    background-color: #FFF;
    border-radius: 8px;
    width: 323px;
    height: 190px;
    margin: auto;
    border: 1px solid #eee;
    text-align: center;
    line-height: 189px;
    position: absolute;
    right: 40%;
    top: 0px;
    z-index: 9;
    transition: all 0.6s ease-in-out;
    .successMessage__title{
        color: #28a745;
        font-weight: 600;
        font-size: 25px;
    }

}

.radio__label{
    margin: 0px 10px;
}