/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.employee__navigation{
    margin-top: 4%;
    ul {
        margin: 0px 15px;
        li{
            display: inline-block;
            border: 1px solid #eee;
            padding: 6px 10px;
            border-radius: 3px;
            cursor: pointer;
            a{
                text-decoration: none;
            }
        }
        .active{
            background-color: #4088d8;
            a{
                color: #FFF;
            }
        }
    }
}


.dropdown-item {
    padding: 4px 15px;
    height: 28px;
    line-height: 18px;
    cursor: pointer;
}
